<h3>
  Choose an album to modify
</h3>
<form id="album_form">
  <select name="album[id]">
    <% @albums.each do |album| %>
      <option value="<%= album.id %>">
        <%= album.name %>
      </option>
    <% end %>
  </select>
  <input type="button" id="choose_album" value="Modify this album">
</form>

<div id="album_to_modify" class="secret">
  <p id="album_name">
  </p>
  <form id="photos_in_album">
    <input type="hidden" name="album[id]" id="hidden_album_id">
    Change album name - <input type="text" name="album[name]">
    <table>
      <% @photos.each do |photo| %>
        <tr>
          <td>
            <input type="checkbox" name="photo[ids][]" value="<%= photo.id %>" id="photo<%= photo.id %>" class="photo_checkbox">
            <img src="<%= photo.name %>" width="200px">
          </td>
        </tr>
      <% end %>
    </table>
    <input type="button" value="Save modifications" id="save_album_modifications">
  </form>
      
</div>






<script src="modify_album.js" type="text/javascript">
</script>