<h2>
  Choose an album to view the pictures in it
</h2>
<h4>
  Photos with a yellow border are "top photos" (in 3 or more albums)
</h4>

<form id="album_form">
  <select name="album[id]" id="change_album">
    <% @albums.each do |album| %>
      <option value="<%= album.id %>">
        <%= album.name %>
      </option>
    <% end %>
  </select>
</form>

<div id="photos_in_album">
  <p id="album_name">
  </p>
  <% @photos.each do |photo|%>
    <% if photo.top_photo? %>
      <div class="top_photo_div photo_container">
        <img src="<%= photo.name %>" id="photo<%= photo.id %>" class="secret raw_photo top_photo">
        <img src="http://www.unmuddled.com/css/img/star.png" class="top_photo_star secret" id="photo<%= photo.id %>star">
    <% else %>
    <div class="photo_container">
      <img src="<%= photo.name %>" id="photo<%= photo.id %>" class="secret raw_photo"> 
    <% end %>
    </div>
  <% end %>
</div>


<script src="view_albums.js" type="text/javascript">
</script>